@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    /* background: #646060; */
    background-image: linear-gradient(
        55deg,
        hsl(240deg 100% 20%) 0%,
        hsl(293deg 100% 21%) 7%,
        hsl(319deg 100% 30%) 21%,
        hsl(332deg 100% 39%) 42%,
        hsl(346deg 83% 51%) 63%,
        hsl(10deg 100% 60%) 79%,
        hsl(30deg 100% 55%) 89%,
        hsl(44deg 100% 50%) 96%,
        hsl(55deg 100% 50%) 100%
    );
}

/* .bg-image {
    background-image: url("./bg.jpg");
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
} */

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
}

.blurred-card {
    backdrop-filter: blur(0px);
    background: rgb(255 255 255 / 26%);
}
