body {
    background-image: url('./weather.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.card {
    background-color: rgba(52, 58, 64, 0.8);
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-body {
    padding: 1.5rem;
}

.form-control {
    border-radius: 50px;
}

.btn-outline-primary {
    border-radius: 50px;
}

.city-name h2 {
    margin-top: 1rem;
}

.temp-info {
    margin-top: 1rem;
}

.description-icon {
    display: flex;
    align-items: right;
    gap: 10px;
}

.description-text {
    font-size: 1.25rem;
}

.temp {
    font-size: 3rem;
    font-weight: bold;
}

.card-group {
    margin-top: 1.5rem;
}

.card-group .card {
    background-color: #495057;
    margin: 0.5rem;
}

.card-group .card-body {
    color: #adb5bd;
}

.text-light {
    color: #ffffff !important;
}

.text-center h4 {
    margin-top: 1rem;
}

.large-icon {
    font-size: 3rem;
    color: white;
}

.card-text {
    color: white;
}
