<%- include('../layout/header') %>

<body>
    <br>
    <center class="mb-3"><h2><u>Add New User</u></h2></center>
    <div class="container mt-5">
        <div class="card">
            <div class="card-header">
                Users Form
            </div>
            <center class="p-3">
                <% if(successMessages.length > 0){ %>
                <div class="alert alert-success" role="alert">
                    <% successMessages.forEach((msg, index) => { %>
                        <%= msg %><% if (index < successMessages.length - 1) { %><br><% } %>
                    <% }) %>
                </div>
                <% } %> 

                <% if(errorMessages.length > 0){ %>
                <div class="alert alert-danger" role="alert">
                    <% errorMessages.forEach((msg, index) => { %>
                        <%= msg %><% if (index < errorMessages.length - 1) { %><br><% } %>
                    <% }) %>
                </div>
                <% } %>
            </center>            

            <div class="card-body">
                <form action="/admin/add-new-user" method="post" id="userSubmission">
                    <div class="form-group">
                        <label for="username">User Name</label>
                        <input type="text" name="username" value="" class="form-control"
                            id="username" placeholder="Enter user name" />
                        <div id="validationUserName" class="invalid-feedback"></div>
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" name="email" value="" class="form-control" id="email"
                            placeholder="Enter email" />
                        <div id="validationEmail" class="invalid-feedback"></div>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" name="password" value="" class="form-control" id="password" placeholder="Enter password" />
                        <div id="validationPassword" class="invalid-feedback"></div>
                    </div>
                    <div class="form-group">
                        <label for="first_name">First Name</label>
                        <input type="text" name="first_name" value="" class="form-control"
                            id="first_name" placeholder="Enter first name" />
                        <div id="validationFirstName" class="invalid-feedback"></div>
                    </div>
                    <div class="form-group">
                        <label for="last_name">Last Name</label>
                        <input type="text" name="last_name" value="" class="form-control"
                            id="last_name" placeholder="Enter last name" />
                        <div id="validationLastName" class="invalid-feedback"></div>
                    </div>
                    <div class="form-group">
                        <label for="phone_number">Phone Number</label>
                        <input type="text" name="phone_number" value="" class="form-control"
                            id="phone_number" placeholder="Enter phone number" />
                        <div id="validationPhoneNumber" class="invalid-feedback"></div>
                    </div>
                    <div class="form-group">
                        <label for="date_of_birth">Date Of Birth</label>
                        <input type="date" name="date_of_birth" value="" class="form-control"
                            id="date_of_birth" />
                        <div id="validationDateOfBirth" class="invalid-feedback"></div>
                    </div>
                    <div class="form-group">
                        <label for="address">Address</label>
                        <input type="text" name="address" value="" class="form-control" id="address"
                            placeholder="Enter address" />
                        <div id="validationAddress" class="invalid-feedback"></div>
                    </div>
                    <div class="form-group">
                        <label for="city">City</label>
                        <input type="text" name="city" value="" class="form-control" id="city"
                            placeholder="Enter city" />
                        <div id="validationCity" class="invalid-feedback"></div>
                    </div>
                    <div class="form-group">
                        <label for="state">State</label>
                        <input type="text" name="state" value="" class="form-control" id="state"
                            placeholder="Enter state" />
                        <div id="validationState" class="invalid-feedback"></div>
                    </div>
                    <div class="form-group">
                        <label for="zip_code">Zip Code</label>
                        <input type="text" name="zip_code" value="" class="form-control"
                            id="zip_code" placeholder="Enter zip code" />
                        <div id="validationZipCode" class="invalid-feedback"></div>
                    </div>
                    <div class="form-group">
                        <label for="country">Country</label>
                        <input type="text" name="country" value="" class="form-control" id="country"
                            placeholder="Enter country" />
                        <div id="validationCountry" class="invalid-feedback"></div>
                    </div>
                    <div class="form-group">
                        <label for="role">Role</label>
                        <input type="text" name="role" value="" class="form-control" id="role"
                            placeholder="Enter role" />
                        <div id="validationRole" class="invalid-feedback"></div>
                    </div>
                    <div class="form-group">
                        <label for="is_active">Is Active</label>
                        <select name="is_active" class="form-control" id="is_active">
                            <option value="" disabled selected>Select activeness</option>
                            <option value="true">True</option>
                            <option value="false">False</option>
                        </select>
                    </div>  
                    <div class="col-md-4">
                        <label class="from-label">upload</label>
                        <input type="file" name="image" id="image" value="" class="form-control" onchange="preView()" />
                        <img id="preview" src="" height="50%" width="30%"></img>
                    </div>                  
                    <br>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
    <center class="mt-3">
        <a href="/admin/user">
            <button class="btn btn-sm btn-outline-primary border-0">
                <i class="bi bi-arrow-left-circle-fill"></i> Go Back!
            </button>
        </a>
    </center>
</body> <br>

<script>
    function preView() {
        var fileInput = document.getElementById("image");
        var filePath = fileInput.value;
        var allowedExtensions = /(\.jpg|\.jpeg|\.png)$/i;
        if (!allowedExtensions.exec(filePath)) {
            fileInput.value = "";
            return false;
        } else {
            //Image preview
            if (fileInput.files && fileInput.files[0]) {
                var reader = new FileReader();
                reader.onload = function () {
                    var output = document.getElementById("preview");
                    output.src = reader.result;
                    
                };
                reader.readAsDataURL(event.target.files[0]);
                $("#image-error").remove();
            }
        }
        // $("#x_content").click();
    }
</script>

<%- include('../layout/footer') %>
